{{- $name_self := promptStringOnce . "name_self" "Personal Name" "Your Name" -}}
{{- $name_work := promptStringOnce . "name_work" "Work Name" "Your Work Name" -}}
{{- $email_self := promptStringOnce . "email_self" "Personal Email" "your-email@example.com" -}}
{{- $email_work := promptStringOnce . "email_work" "Work Email" "work-email@company.com" -}}

[data]
    name_self = {{ $name_self | quote }}
    name_work = {{ $name_work | quote }}
    email_self = {{ $email_self | quote }}
    email_work = {{ $email_work | quote }}
