[user]
{{- if (hasKey . "name") }}
    name = {{ .name | quote }}
{{- end }}
{{- if (hasKey . "email") }}
    email = {{ .email | quote }}
{{- end }}

[core]
    editor = hx
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    line-numbers = true

[include]
    path = ~/.gitconfig.local


