[core]
    editor = hx
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    line-numbers = true

[include]
    path = ~/.gitconfig.local

[includeIf "gitdir:~/work/"]
    path = ~/.gitconfig-work.local
