[user]
{{- if (hasKey . "name") }}
    name = {{ .name | quote }}
{{- end }}
{{- if (hasKey . "email") }}
    email = {{ .email | quote }}
{{- end }}

[core]
    editor = micro

[init]
    defaultBranch = main

[credential "https://github.com"]
    helper = !gh auth git-credential



[include]
    path = ~/.gitconfig.local


