Host github-self
    HostName github.com
    User git
    IdentityFile ~/.ssh/id_ed25519_github_self
    IdentitiesOnly yes

Host github-work
    HostName github.com
    User git
    IdentityFile ~/.ssh/id_ed25519_github_work
    IdentitiesOnly yes
